* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #2c3e50;
    background: #f4faff;
    line-height: 1.6;
}

/* HEADER */
header {
    background: linear-gradient(rgba(0, 82, 118, 0.6), rgba(0, 82, 118, 0.6)),
    url("health wellbeing.jpg")
    center/cover no-repeat;
    height: 90vh;
    position: relative;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 53, 87, 0.4);
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    color: #e8faff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
}

.hero h2 {
    font-size: 2.7rem;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #0097b2;
    padding: 12px 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.btn:hover {
    background: #007a8f,
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* GOALS SECTION */
.goals .goal-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    padding: 20px;
    background: #e2f4f9;
    border: 2px solid #bce7f1;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background: #d4eef5;
    transform: translateY(-7px);
}

/* ACTION LIST */
.action ul {
    list-style: none;
    margin: 20px 0;
}

.action ul li {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #2a4c67;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #003557;
    color: #fff;
    margin-top: 40px;
}